<h1>스팸 보내기</h1>
<p>테스트 끝 시작!!!!</p>
<form action="/home/spam">
  보낼 사람 : <input type="text" name="receiver"><br>
  제목 : <input type="text" name="title"><br>
  <input type="submit">
  <input id="x" type="hidden" name="content">
  <trix-editor input="x"></trix-editor>
</form>
